html,
body {
    clear: both;
    height: 100%;
  /* The html and body elements cannot have any padding or margin. */
    background-color: #e8e8e8;
    /*font-family: "Microsoft YaHei" ! important;*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


#nav {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 1em;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.green {
    background-color: #008375;
}

.green:hover {
    /*border-bottom-width: medium;*/
    /*border-bottom-color: #101010;*/
}



.green2 {
    background-color: #4c467a;
}


#footer {
    background-color: mediumseagreen;
    height: 8em;
    /*height: 3em;*/
}


#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -8em;
  /* Pad bottom by footer height */
  padding: 0 0 8em;
}


#main-frame {

    padding-top: 2em;
    /*background-color: white;*/
}

.post_article {
    background-color: white;
    width: 70%;
    margin: 0 auto;
}


.blog_footer {
    text-align: center;
}